body
{
	background-color:  #474e5d;  /* Dark Blue */  /* #42444e */
	font-family: Lato;
	/*background: #648880;
	background: linear-gradient(to center, #f6f1d3, #648880, #293f50);*/
}

h1
{
	padding-left: 7%;
    padding-top: 20px;
	color : #FFEFEB;
}

#homeBanner
{
    padding-top: 20px;
    width: 40%;
    height: 100%;
    float: right;
    padding-right: 7%;
}

p
{
	padding-left: 7%;
	color: white;
    font-size: 20px;
}

#getTickets
{
    padding-left: 5.5%;
}

#countText
{
    font-size: 30px;
    text-align: center;
}


.conDate
{
	padding-left: 2em;
	font-size: 65%;
	text-decoration: underline;
}


#media
{
	float: left;
}

a {text-decoration: none;} 

ul 
{
    list-style-type: none;
    margin-left: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    /*background: #648880;
    background: linear-gradient(to center, #f6f1d3, #648880, #293f50);*/
}

li 
{
    float: left;
}

li a, .dropbtn 
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Lato;
}


.tickets, li.tickets
{
	background-color: darkred;
	background b;
	padding: 0px;
}


li a:hover, .dropdown:hover .dropbtn 
{
	color: #1abc9c !important;
    /*background-color: black;*/
}

li.dropdown 
{
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content 
{
    display: block;
}


.button 
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.ticketButton 
{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    outline: 2px solid white;
    outline-offset: 2px;
}

.ticketButton:hover 
{
    background-color: darkred;
    color: white;
}


#clockdiv
{
    font-family: Lato;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding-left: 39%;
    padding-bottom: 20px;
}

#clockdiv > div
{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span
{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext
{
    padding-top: 5px;
    font-size: 16px;
}



.images 
{
    display: inline;
    margin: 20px;
    padding: 15px;
    vertical-align:middle;
    width: 150px;
    height: 200px;
    border: 5px solid darkorange;
    background-color: #00816A;
    
}


#content 
{
    display: block;
    margin: 0px;
    padding: 10px 0px 10px 100px;
    position: relative;
    height: auto;
    max-width: auto;
    overflow-y: hidden;
    overflow-x:auto;
    word-wrap:normal;
    white-space:nowrap;
}



.tooltip
{
    display: inline;
    position: inherit;
    font-weight:bold;
    cursor:pointer;
}

.tooltip:hover:after
{
    background: #333;
    /*background: rgba(0,0,0,.8);*/
    border-radius: 5px;
    bottom: 130px;
    color: #00BF96;
    content: attr(title);
    left: 10%;
    padding: 5px 15px 10px;
    position: absolute;
    z-index: 98;
    width: 150px;
    text-align: center;
}

.tooltip:hover:before
{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 130px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}



#restSpeakersButton
{
    padding-left: 35%;
}

#lorem_ipsum
{
    width: 60%;
    padding-left: 20%;
    word-wrap: break-word;
    font-family: Garamond;
    font-size: 20px;
}


#manifestoButton
{
    padding-left: 40%;
}


#previousEventsButton
{
    padding-left: 39%;
}


#programInfo
{
    
}



.inline-div 
{
    padding-left: 13%;
    display:inline-block;
    width: 15%;
    word-wrap: break-word;
}


#programButton
{
}


/*.vr
{
    height: 180px;
    width: 0px;
    float: right;

}*/

/*.inline-txtarea 
{
    resize: none;
    border-right: 2px solid red;
    height:125px;
}*/




















/* ####################################################  OLD CSS CODE  #################################################### */


/*body
{
    background-color: tomato;
}

a { text-decoration: none }


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

header
{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}

nav
{ 
    background-color: lightskyblue;
    height: 500px;
    width: 200px;
    font-size: 25px;
    float: left;
    line-height: 60px;
    padding: 5px;
}

section
{
    float: left;
    padding: 20px;
    width: 80%;
}


footer
{
    background-color: black;    
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

nav a
{
    color: darkred;
}

#Guild_Image
{
    width: 1280px;
    height: 720px;
    padding: 5px;
}

#tabs
{
    padding: 0;
}

#tabs li
{
    display: inline; 
}

#tabs li a
{
    background-color: white; 
    color: darkred; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 4px 4px 0 0;
    border: solid 1px;
}

#tabs li a:hover
{
    background-color: yellow; 
}

#heading1
{
    color: white;
}

#Grand_Magic_Games
{
    color: white;
    width: 65%;
    border: 1px solid yellow;
    padding: 10px;
    <!-- margin: 5px; -->
}

#Games_Entrance
{
    width: 300px;
    height: 250px;
    float: left;
    padding: 10px;
}

#Results_Table
{
    color: black;
}*/