body
{
	background-color:  #474e5d;  /* Dark Blue */  /* #42444e */
	font-family: Lato;
	/*background: #648880;
	background: linear-gradient(to center, #f6f1d3, #648880, #293f50);*/
}

h1
{
	padding-left: 7%;
    padding-top: 20px;
	color : #FFEFEB;
}

#homeBanner
{
    padding-top: 20px;
    width: 30%;
    height: 30%;
    float: right;
    padding-right: 7%;
}

p
{
	padding-left: 7%;
	color: white;
    font-size: 20px;
}

#getTickets
{
    margin-left: 28%;
}

#countText
{
    font-size: 30px;
    text-align: center;
}


.conDate
{
	padding-left: 2em;
	font-size: 65%;
	text-decoration: underline;
}


#media
{
	float: left;
}

a {text-decoration: none;} 

ul 
{
    list-style-type: none;
    margin-left: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    /*background: #648880;
    background: linear-gradient(to center, #f6f1d3, #648880, #293f50);*/
}

li 
{
    float: left;
}

li a, .dropbtn 
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Lato;
}


.tickets, li.tickets
{
	background-color: darkred;
	background b;
	padding: 0px;
}


li a:hover, .dropdown:hover .dropbtn 
{
	color: #1abc9c !important;
    /*background-color: black;*/
}

li.dropdown 
{
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content 
{
    display: block;
}


.button 
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.ticketButton 
{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    outline: 2px solid white;
    outline-offset: 2px;
}

.ticketButton:hover 
{
    background-color: darkred;
    color: white;
}


#clockdiv
{
    font-family: Lato;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding-left: 39%;
    padding-bottom: 20px;
}

#clockdiv > div
{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span
{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext
{
    padding-top: 5px;
    font-size: 16px;
}



.images 
{
    display: inline;
    margin: 20px;
    padding: 15px;
    vertical-align:middle;
    width: 150px;
    height: 200px;
    border: 5px solid darkorange;
    background-color: #00816A;
    
}


#content 
{
    display: block;
    margin: 0px;
    padding: 10px 0px 10px 100px;
    position: relative;
    height: auto;
    max-width: auto;
    overflow-y: hidden;
    overflow-x:auto;
    word-wrap:normal;
    white-space:nowrap;
}



#lorem_ipsum
{
    width: 60%;
    word-wrap: break-word;
    font-size: 20px;
}


#manifestoButton
{
    padding-left: 40%;
}


#previousEventsButton
{
    padding-left: 39%;
}


#programInfo
{
    
}



.inline-div 
{
    padding-left: 13%;
    display:inline-block;
    width: 15%;
    word-wrap: break-word;
}


#programButton
{
	padding-left: 5.5%;
}

.listButton
{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Lato;
}

.listButton:hover 
{
    background-color: white;
    color: black;
}


#EventsList
{
    background-color: inherit;
    padding-left: 7%;
    font-size: 35px;
    font-family: Lato;
    color: white;
}

#olderProcs
{
    padding-left: 40%;
    padding-bottom: 20px;
}

